<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emprestimo</title>
</head>
<body>
    <form th:method="POST" th:action="@{/resultadoEmprestimo}">
        <label for="valor">Valor do empréstimo: </label>
        <input type="number" th:name="valor">
        <br>
        <label for="parcelas">quantidade de parcelas: </label>
        <input type="number" th:name="parcelas">
        <br>
        <label for="juros">taxa de juros (só o número): </label>
        <input type="number" th:name="juros">
        <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>