<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora IMC</title>
</head>
<body>
    <form th:method="POST" th:action="@{/resultadoIMC}">
        <label for="peso">peso: </label>
        <input type="number" th:name="peso">
        <br>
        <label for="altura">altura (em cm): </label>
        <input type="number" th:name="altura">
        <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>